{#
/**
 * @file
 * Base theme implementation for a BigPipe JS placeholder interface preview.
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 */
#}

<div class="geolocation-map--placeholder" style="height: 400px;width: 100%;position: relative;background-color: #e6e6e6;border-radius: 10px;"> </div>
